/* body {
    background-image: url(./assets/bg-mobile.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;  Cobre todo espaço visível 
}  */

* {
    /* Reset de CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
    font-family: "Inter", sans-serif;
    color: white;
}

#container {
    /* Centraliza a DIV horizontalmente */
    /* Display block automático */
    /* Margin: (cima baixo) (esquerda direita) (baixo) */
    width: 360px;
    border: 2px solid red;
    margin: 56px auto 0px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}