:root {
    --surface-color: #f0e8c2;
    --title-color: #291b1a;
    font-family: "Alice", serif;
    color: #573a37;
}

body {
    background-image: url(./assets/bg-image.jpg);
}

#page {
    max-width: 800px;
    padding: 24px;
    background-color: var(--surface-color);
    border-radius: 24px;
    margin: 48px auto;
}

h1,
h2 {
    color: var(--title-color);
}

h1 {
    line-height: 140%;
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

img {
    width: 100%;
}